@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
html {
    margin: auto;
    scroll-behavior: smooth;
}
body {
    margin: auto;
    background-color: #282828;
    color: #ececec;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6vh;
    text-align: center;
}
h1 a {
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    color: goldenrod;
}
h1 a:hover {
    color: #b65fcf;
}
h2 {
    text-align: center;
    font-size: 3.5vh;
}
h3 {
    padding-left: 40px;
    font-size: 2.5vh;
}


/*Start of Media Queries*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
/*End of Media Queries*/