@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
/*Gives the back to top button it's smooth scrolling*/
html,
body {
  scroll-behavior: smooth;
}
body {
	margin: auto;
	background-color: #ececec;
	transition: background-color 1s ease-out;
}

/*Start of The Navigation bar Code*/
.button_img {
    max-width: 50px;
    max-height: 50px;
    overflow: hidden;
	display: inline;
}

.logo-img {
	max-width: 70px;
	max-height: 70px;
	overflow: hidden;
}
nav {
	transition: background-color 1s ease-out;
	margin: auto;
	background-color: #F22771;
}
.nav-transparency{
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	opacity: 0.4;
    z-index: -1;
}
nav ul {
	display: flex;
	justify-content: center;
	justify-items: center;
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav li a {
	font-family: 'Montserrat', sans-serif;
	display: block;
	color: #ececec;
	text-align: center;
	padding: 20px 16px;
	text-decoration: none;
	overflow: hidden;
}
nav li a:hover {
	transition: background-color 0.5s ease-in;
	background-color: #cd105cb5;;
	color:#ececec;
}


/*End of the Navigation Bar code*/

/*Start of the Footer Code*/
footer {
	color: #ececec;
}
footer ul {
	display: flex;
	justify-content: center;
	justify-items: center;
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
footer li a {
	font-family: 'Montserrat', sans-serif;
	display: block;
	color: #ececec;
	text-align: center;
	padding: 14px 25px;
	text-decoration: none;
}
footer li a:hover {
	color: #ececec;
}
/*End of the Footer code*/

/*Start of the text code*/
p {
	font-family: 'PT Serif', serif;
	padding-left: 15vh;
	color: #292238;
	font-size: 3.0vh;
	text-decoration: none;
}

h1 {
	font-family: 'Crimson Text', serif;
	text-align: center;
	font-size: 8.5vh;
	color: #F28444;
}

h1 a {
	font-family: 'Dancing Script', cursive;
	color: goldenrod;
	text-decoration: none;
}
h1 a:hover {
	color: #A429A6;
	text-decoration: none;
}

h2 {
	font-family: 'PT Serif', serif;
	font-size: 5.5vh;
	text-align: center;
	color: #F22771;
}
h3 {
	padding-left: 15vh;
	font-family: 'PT Serif', serif;
	font-size: 3.5vh;
	color: #F22771;
}
/*End of the text code*/
/*Round Corners*/
.rcorners1 {
	display: flex;
    min-height: 300px;
	max-height: 300px;
	max-width: 300px;
	min-width: 300px;
    border-radius: 25px;
    border: 5px solid transparent;
	transition: all 0.5s ease-out;
  }
  .rcorners1:hover {
	transform: scale(1.5);
  }


/*Start of Dark Mode*/
.dark-mode {
	transition: background-color 1s ease-out;
	background-color:#2b2825;
	color: #ececec;
  }
  .dark-mode .top {
	color: #ececec;
  }
  .dark-mode h1 {
	color: #f45b00;
  }
/*Css Variables*/
  .dark-mode h2 {
	color :#dd2afb;
  }
  .dark-mode h3 {
	color :#dd2afb;
  }
  .dark-mode p{
	color: white;
  }
  .dark-mode nav {
	transition: background-color 1s ease-out;
	background-color: #8902a0;
  }
.dark-mode nav a {
	color: #ececec;
}
.dark-mode nav a:hover {
	background-color: #590168;
}
.dark-mode a:hover {
	color: #ececec;
}
/*End of Dark Mode*/

/*Start of Media Queries*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    
    .rcorners1 {
        border-radius: 25px;
        border: 5px solid transparent;
		min-width: 100px;
        min-height: 100px;
        max-width: 100px;
        max-height: 100px;
      }

    h1 {
        font-size: 50px;
        text-align: center;
    }

    h1 a {
        font-size: 50px;
        text-align: center;
    }

    h2 {
    font-size: 37px;
    text-align: center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
 

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

	.rcorners1 {
        border-radius: 25px;
        border: 5px solid transparent;
        max-width: 100px;
        max-height: 100px;
      }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

/*End of Media Queries*/

